:root{
    --primary:#1e8be4;
    --secondary:#778899;
    --success:#198754;
    --danger:#dc3545;
    --warning:#ffc107;
    --info:#4b0082;
    --light:#f8f9fa;
    --dark:#212529;
    --link:#0d6efd;
    --primary-hover:#106fbd;
    --secondary-hover:#697683;
    --success-hover:#017201;
    --danger-hover:#b32922;
    --warning-hover:#f3ca27;
    --info-hover:#37025e;
    --light-hover:#c9c0c0;
    --dark-hover:#000000;
    --disable-primary-btn:#77afdd;
    --disable-secondary-btn:#888a8b;
    --bg-color:#333333;
    --font-color:#818181;
    --btn-icon-color:#ffffff;
    --font-family-rubik:@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    --font-family-roboto:@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
}

/* fontImport */

/* body */
body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
    color:var(--light);
}


/* Buttons */
.btn{
    color:var(--light);
    padding:0.5rem;
    text-align: center;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    cursor:pointer;
    margin:0.5rem;
}

/* simple Buttons */    
.simple-btn{
    background-color: var(--link);
}

/* contained buttons */

.btn-link{
    background-color: var(--bg-color);    text-decoration: underline;
    color:var(--link);
}
.btn-primary:hover{
    background-color: var(--primary-hover);
    color:white;
}
.btn-secondary:hover{
    background-color: var(--secondary-hover);
    color:white;
}
.btn-success:hover{
    background-color: var(--success-hover);
    color:white;
}
.btn-danger:hover{
    background-color: var(--danger-hover);
    color:white;
}
.btn-warning:hover{
    background-color: var(--warning-hover);
    color:white;
}
.btn-info:hover{
    background-color: var(--info-hover);
    color:white;
}
.btn-light:hover{
    background-color: var(--light-hover);
    color:white;
}
.btn-dark:hover{
    background-color:var(--dark-hover);
    color:white;
}

/* outline buttons */
.btn-outline-primary{
    color:var(--primary);
    border-color: var(--primary);
}

.btn-outline-secondary{
    color:var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-success{
    color:var(--success);
    border-color: var(--success);
}

.btn-outline-danger{
    color:var(--danger);
    border-color: var(--danger);
}

.btn-outline-warning{
    color:var(--warning);
    border-color: var(--warning);
}

.btn-outline-info{
    color:var(--info);
    border-color: var(--info);
}

.btn-outline-light{
    color:var(--light);
    border-color: var(--light);
}

.btn-outline-dark{
    color:var(--dark);
    border-color: var(--dark);
}
.btn-outline-primary:hover{
    background-color: var(--primary);
    color:var(--light);
}

.btn-outline-secondary:hover{
    background-color: var(--secondary);
    color:var(--light);
}

.btn-outline-success:hover{
    background-color: var(--success);
    color:var(--light);
}

.btn-outline-danger:hover{
    background-color: var(--danger);
    color:var(--light);
}

.btn-outline-warning:hover{
    background-color: var(--warning);
    color:var(--light);
}

.btn-outline-info:hover{
    background-color: var(--info);
    color:var(--light);
}

.btn-outline-light:hover{
    background-color: var(--light);
    color:var(--dark);
}

.btn-outline-dark:hover{
    background-color: var(--dark);
    color:var(--light);
}
/* Floating Action Buttons */
.icon-btn-round{
    width:3rem;
    height:3rem;
    border-radius: 100%;
    background-color: var(--bg-color);
    cursor:pointer;
}
.icon{
    color: var(--btn-icon-color);
    height:2em;
    cursor:pointer;
}
.icon-plus{
    color:var(--btn-icon-color);
    font-size: 2.1rem;
}

/* Button Sizes */
.btn-lg{
    font-size: 1.20rem;
    padding: 0.5rem;
    width: 9rem;
}
.btn-sm{
    font-size: 0.7rem;
    padding:0.35rem;
    width:5rem;
}

/* Disables state Buttons */

.btn-primary:disabled{
    color:white;
    background-color:var(--disable-primary-btn) ;
    border-color: var(--disable-primary-btn);
    pointer-events: none;
}
.btn-secondary:disabled{
    color:white;
    background-color:var(--disable-secondary-btn) ;
    border-color: var(--disable-secondary-btn);
    pointer-events: none;
}